<div class='input {{#if errorMessage}}input--invalid{{/if}}'>
  <label>{{label}}</label>
  <input
    name="{{name}}"
    type='{{#if type}}{{type}}{{else}}text{{/if}}'
    placeholder='{{placeholder}}' />
  {{#if errorMessage}}
    <span class='input__error-message'>{{errorMessage}}</span>
  {{/if}}
</div>