<template>
    <ul>
        <li>{{{ LoginButton }}}</li>
        <li>{{{ SigninButton }}}</li>
        <li>{{{ ChooseChatButton }}}</li>
        <li>{{{ ChatButton }}}</li>
        <li>{{{ SearchButton }}}</li>
        <li>{{{ AddUserButton }}}</li>
        <li>{{{ AddUserModalButton }}}</li>
        <li>{{{ ProfileButton }}}</li>
        <li>{{{ ChangeProfileButton }}}</li>
        <li>{{{ ChangePasswordButton }}}</li>
        <li>{{{ Page404Button }}}</li>
        <li>{{{ Page500Button }}}</li>
    </ul>
</template>