<template class="message-box__title">
    <div class="message-box__title-avatar">
        <label for="upload-avatar"></label>
        <img src="https://ya-praktikum.tech/api/v2/resources/{{image}}" alt="Аватар" />
        </label>
        {{{ AvatarUpload }}}
    </div>
    <div class="profile__avatar">
        <label for="upload-avatar">
            <img src="https://ya-praktikum.tech/api/v2/resources/{{image}}" alt="Загрузите аватар" />
        </label>
    </div>`;
    <h1 class="message-box__title-name">
        {{title}}
    </h1>
    <div class="message-box__menu {{# if showAddUserPopup}}message-box__menu--active{{/if}}">
        {{{ShowAddUserPopupButton}}}
        {{# if showAddUserPopup}}
        {{{ Popup }}}
        {{/if}}
    </div>
</template>