<template>
    {{!-- {{#> GoBackLayout}} --}}
    {{{ GoBackLayout }}}
    {{!-- {{#> Profile }} --}}
    {{!-- {{{ Profile }}} --}}
    {{!-- <div class="profile__layout-item">
        <div class="profile__layout-item-key">
            {{{ LinkChangeData }}}
        </div>
    </div>
    <div class="profile__layout-item">
        <div class="profile__layout-item-key">
            {{{ LinkChangePassword }}}
        </div>
    </div>
    <div class="profile__layout-item">
        <div class="profile__layout-item-key">
            {{{ LinkLogout }}}
        </div>
    </div> --}}

    {{!-- {{/Profile}} --}}
    {{!-- {{/GoBackLayout}} --}}
</template>