<div class="form__inputs">
    <div class="form__input-container">
        {{{ InputEmail }}}
    </div>
    <div class="form__input-container">
        {{{ InputLogin }}}
    </div>
    <div class="form__input-container">
        {{{ InputFirstName }}}
    </div>
    <div class="form__input-container">
        {{{ InputSecondName }}}
    </div>
    <div class="form__input-container">
        {{{ InputPhone }}}
    </div>
    <div class="form__input-container">
        {{{ InputPassword }}}
    </div>
    <div class="form__input-container">
        {{{ InputPassword2 }}}
    </div>
</div>
<div class="form__buttons">
    {{{ ButtonSignup }}}
    {{{ ButtonLogin }}}
</div>